.icon-hover:hover {
  border-color: #3b71ca !important;
  background-color: white !important;
  color: #3b71ca !important;
}

.icon-hover:hover i {
  color: #3b71ca !important;
}

@media only screen and (max-width: 801px) {

  .mt-small-screen {
      margin-top: 40px;
  }
}